body{
	background-color: #006d22; 
}
#logo{
	width: 45%;
}
div h2{
	font-family: Allura;
	font-size: 50px;
	color: white;
}
h3{
	font-family: Pacifico;
	font-size: 30px;
	color: white;
}
#mapqo{
	width: 97%;
	height: 500px;
	border-radius: 10px;
	box-shadow:12px 12px 22px rgba(0,0,0,0.2);
}

footer p{
	font-family: Comfortaa;
	color: white
}
footer p:nth-child(1){
	font-size: 30px;
	font-weight:bold;

	line-height:10px;
}
footer p:nth-child(2){
	font-size: 16px;
	color:#7e7d7d;
	width:600px;
	text-align: center;
}
footer{
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.social-icons #sp{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;
	
}
.social-icons i,.social i{
	color:#006d22;
}
.social-icons #sp:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons #sp:hover i,
.social a:hover i{

	color:#006d22;
	transition:all ease 0.5s;
}
.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.social i{
	font-size:20px;
	color:#006d22;
}
.fot{
	background-color: #006d22;
}
a.ex4:hover, a.ex4:active {
	font-family: Underdog;
	font-size: 35px;
	-webkit-text-stroke: 2px black;
	color: green;
	text-decoration: none;
}
button{
	text-decoration: none;
	color: white;
	font-family: Comfortaa;
	font-size: 25px;
}
.header{
	align-items: center;
}
h4{
	font-family: Pacifico;
	font-size: 30px;
	color: white;
}
#aa{
	font-family: Pacifico;
}
button{
	padding: 10px;
	background-color: transparent;
	border: dashed;
}
a{
	text-decoration: none;
	color: white;
}
.names{
	font-family: Underdog;
	font-size: 40px;
}
.zakaz{
	position: fixed;
	top:61%;
	right:0px;
	transform:translateY(10%)
}
.zakaz a{
	
	justify-content: center;
	margin-right: 78px;
	padding: 0px;
	line-height:0px;
}
.zakaz button{
	font-size: 40px;
	background-color: #00CDFF;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px; 
}
.zakaz button:hover{
	font-size: 40px;
		color: black;

}
.zakaz a:hover{
	background-color:#000000;
   -webkit-border-top-left-radius: 40px;
     -webkit-border-bottom-left-radius: 40px;
  -moz-border-bottom-left-radius: 40px;
	transition:all ease 0.5s;
}
@media screen and (max-width: 1200px){
#logo{
	width: 60%;
}
}
#ll{
	background-color: #0B8E26;
	box-shadow:12px 12px 22px rgba(0,0,0,0.2);
	padding:10px;
}
#ll p{
	color: white;
	font-family: Amatic SC;
	font-size: 25px;
	letter-spacing: 1px;

}
.cofe{
	background-color: #179C4E;
	box-shadow:12px 12px 22px rgba(0,0,0,0.2);
}

.birbale {
	
	background-color: green;
position: fixed;
font-family: Amatic SC;
letter-spacing: 2px;
	top:61%;
	left:0px;
	transform:translateY(-651%);
	box-shadow:12px 12px 22px rgba(0,0,0,0.2);
    margin-right: 50px;
    position: fixed;
    z-index: 9;

}
.birbale a {
display: flex;
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding: 15px;
  display:inline-block;
}
.birbale #idk {
  text-decoration: none;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 300px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;}
@media screen and (max-width: 1000px){
	.birbale {background-color: green;
position: fixed;
font-family: Amatic SC;
	top:61%;
	left:0px;
	transform:translateY(-851%);
	box-shadow:12px 12px 22px rgba(0,0,0,0.2);
    margin-right: 50px;
}
.birbale a {
  text-decoration: none;
  color: white;
  font-size: 35px;
  padding: 15px;
  display:inline-block;
}
.birbale #idk {
  text-decoration: none;
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
  padding: 15px;
  display:inline-block;
}
ul li ul {
  position: absolute;
  width: 400px;
  display: none;
}
}
.flip-card {
	left: 2%;
	margin: 10px;
	position: relative;
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Amatic SC;
  font-weight: bold;
  font-size: 40px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;

}

.flip-card-back {
  background-color: white;
  color: #006d22;
  transform: rotateY(180deg);
}
.chota{

	background-color: #179C4E;
    flex-wrap: wrap;
    display: flex;
right:50%;
bottom: 50%;
  left: 50%;
  top: 50%;
  padding: 10px;
}



.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {

  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

@@media only screen and (max-width: 1150px) {
.flip-card {
	left: 7%;

}
}





.mySlidesa {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-containera {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.texta {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertexta {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dota {

  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activea {
  background-color: #717171;
}

/* Fading animation */
.fadea {
  -webkit-animation-name: fadea;
  -webkit-animation-duration: 1.5s;
  animation-name: fadea;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadea {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fadea {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .texta {font-size: 11px}
}
