body{
	background-color: #006d22; 
}
#logo{
	width: 45%;
}
div h2{
	font-family: Allura;
	font-size: 50px;
	color: white;
}
h3{
	font-family: Pacifico;
	font-size: 30px;
	color: white;
}
#mapqo{
	width: 97%;
	height: 500px;
	border-radius: 10px;
	box-shadow:12px 12px 22px rgba(0,0,0,0.2);
}

footer p{
	font-family: calibri;
}
footer p:nth-child(1){
	font-size: 30px;
	font-weight:bold;
	color:#191919;
	line-height:10px;
}
footer p:nth-child(2){
	font-size: 16px;
	color:#7e7d7d;
	width:600px;
	text-align: center;
}
footer{
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	margin:20px 10px;
	border-radius:50%;
}
.social-icons{
	display: flex;
	
}
.social-icons i,.social i{
	color:#006d22;
}
.social-icons a:hover{
	background-color:#000000;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
	transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
	color:#006d22;
	transition:all ease 0.5s;
}
.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social a:hover{
	background-color:#000000;
	transition:all ease 0.5s;
}
.social i{
	font-size:20px;
	color:#006d22;
}
.fot{
	background-color: #006d22;
}
a.ex4:hover, a.ex4:active {
	font-family: Underdog;
	font-size: 35px;
	-webkit-text-stroke: 2px black;
	color: green;
	text-decoration: none;
}
button{
	text-decoration: none;
	color: white;
	font-family: Comfortaa;
	font-size: 25px;
}
.header{
	align-items: center;
}
#aa{
	font-family: Pacifico;
}
button{
	padding: 10px;
	background-color: transparent;
	border: dashed;
}
a{
	text-decoration: none;
	color: white;
}
.names{
	font-family: Underdog;
	font-size: 60px;
}
.zakaz{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(10%)
}
.zakaz a{
	display: flex;
	justify-content: center;
	align-items: center;
	
	margin-right: 78px;
	padding: 0px;
	line-height:0px;
}
.zakaz button{
	font-size: 40px;
	background-color: green;
	opacity: 60%;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px; 
}
.zakaz button:hover{
	font-size: 40px;
		color: black;

}
.zakaz a:hover{
	background-color:#000000;
   -webkit-border-top-left-radius: 40px;
     -webkit-border-bottom-left-radius: 40px;
  -moz-border-bottom-left-radius: 40px;
	transition:all ease 0.5s;
}
@media screen and (max-width: 1200px){
a.ex4:hover, a.ex4:active {
	font-family: Underdog;
	font-size: 65px;
	-webkit-text-stroke: 2px black;
	color: green;
	text-decoration: none;
}
button{
	text-decoration: none;
	color: white;
	font-family: Comfortaa;
	font-size: 55px;
}
}
